.bege-fonte { color: #e1d1aa !important; }
.preto-fonte { color: #080808 !important; }
.branco-fonte { color: #ffffff !important; }
.cinza-fonte { color: #353535 !important; }
.bg-bege { background-color: #e1d1aa !important }
.bg-preto { background-color: #131313 !important }
.bg-dark { background-color: #000000 !important }
.bg-branco { background-color: #ffffff !important }
.bg-preto-transparente { background-color: #000000 !important; opacity: 0.5 }
