.nav>li>a:hover {
    background-color: #666666 !important;
}
.Relative {position: relative;}
.Absolute {position: absolute;}

.example-video {height: 150px; background-color: rgba(27,27,27,0.4);}
.video-container { position:relative; height:213px; overflow:hidden;}
.video-container iframe, .video-container object, .video-container embed { position:absolute; top:0; left:0; width:100%; height:100%;}

.parallax-img {background-image: url(../imagens/parallax.jpg);}
.parallax-default { background-size: cover; height: 300px; background-attachment: fixed; background-position: center left;}

.border-nota{border: 3px solid #091264;}

.tag{ padding: 5px; background-color: #f7f7f7; border-top: 5px solid white; border-bottom: 5px solid white; border-right: 5px solid white;}
.bg-imagem { background-size: cover; background-position: center center; background-repeat: no-repeat; }

.brdrRW{ border-right: 5px solid white;} /* BORDER BRANCO DIREITA */
.btn-assinar{ width: 75%;  margin: 0 13%;}

.aspect1-1 {padding-top: 100%; position: relative;}
.aspect16-9 {padding-top: 56.25%;  position: relative;}
.aspect4-3 {padding-top: 75%; position: relative;}

.progress-bar { text-align: right; transition-duration: 3s; }

#iframeMaps { width: 100%; height: 288px }

.div-search .form-control:focus {
    border-color: #ccc;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.borda-pontosff {border: 1px solid #aaa;}

/* LG MD SM  */
@media (min-width: 768px) {
    .navbar-centralizada { display: flex; justify-content: center; flex-wrap: wrap; width: 100%; }
    .pontosff { padding-left: 30px!important; text-align: left!important; font-size: 11px;}
    .brdrRWrelacionados{ border-right: 5px solid white;}
}

/* XS */
@media (max-width: 767px) {
    .pontosff { padding-left: 30px!important; text-align: left!important; font-size: 11px; }
    .brdrRWrelacionados{margin: 5px 0px!important;}
}


.sp-thumbnail{
    width: 100%!important;
}

.imagens-topo{
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100px; 
    margin-top: 5px;
}

 .sp-thumbnail-image-container {
	width: 30%;
	height: 100px;
	overflow: hidden;
	float: left;
}

 .sp-thumbnail-image {
	height: 100%;
}

 .sp-thumbnail-text {
	width: 70%;
    height: 100px;
    float: left;
    padding: 8px;
    background-color: #F0F0F0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

 .sp-thumbnail-title {
	margin-bottom: 5px;
	text-transform: uppercase;
	color: #333;
     float: left;
}

 .sp-thumbnail-description {
     font-size: 14px;
     color: #333;
     float: left;
     width: 95%;

}

.sp-right-thumbnails.sp-has-pointer .sp-selected-thumbnail:before{
    border-left: 5px solid #2d2d2d !important;
}

.sp-right-thumbnails.sp-has-pointer .sp-selected-thumbnail:after{
    border-right: 13px solid #2d2d2d !important;
}

@media (max-width: 500px) {
	 .sp-thumbnail {
		text-align: center;
	}

	 .sp-thumbnail-image-container {
		display: none;
	}

	 .sp-thumbnail-text {
		width: 120px;
	}

	 .sp-thumbnail-title {
		font-size: 12px;
		text-transform: uppercase;
	}

	 .sp-thumbnail-description {
		display: none;
	}
}

@media (min-width: 768px) {
    .navbar-centralizada
    {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    
}


.hrPadrao {
    margin-left: 0%;
    margin-bottom: 6%;
}

.hrTitle {
    width: 5%;
    height: 4px;
    background-color: #666666;
    border: none;
    margin-top: 5px;
    margin-bottom: 0px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}

.hrTitleFull {
    width: 100%;
    height: 4px;
    background-color: #666666;
    border: none;
    margin-top: 5px;
    margin-bottom: 0px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}

.MarginT1{margin-top: 1%!important;}
.MarginT2{margin-top: 2%!important;}
.MarginT3{margin-top: 3%!important;}
.MarginT4{margin-top: 4%!important;}
.MarginT5{margin-top: 5%!important;}
.MarginT6{margin-top: 6%!important;}
.MarginT7{margin-top: 7%!important;}
.MarginT8{margin-top: 8%!important;}
.MarginT9{margin-top: 9%!important;}
.MarginT10{margin-top: 10%!important;}
.MarginT11{margin-top: 11%!important;}
.MarginT12{margin-top: 12%!important;}
.MarginT13{margin-top: 13%!important;}
.MarginT14{margin-top: 14%!important;}
.MarginT15{margin-top: 15%!important;}
.MarginT16{margin-top: 16%!important;}
.MarginT17{margin-top: 17%!important;}
.MarginT18{margin-top: 18%!important;}
.MarginT19{margin-top: 19%!important;}
.MarginT20{margin-top: 20%!important;}
.MarginT21{margin-top: 21%!important;}
.MarginT22{margin-top: 22%!important;}
.MarginT23{margin-top: 23%!important;}
.MarginT24{margin-top: 24%!important;}
.MarginT25{margin-top: 25%!important;}

.MarginB1{margin-bottom: 1%!important;}
.MarginB2{margin-bottom: 2%!important;}
.MarginB3{margin-bottom: 3%!important;}
.MarginB4{margin-bottom: 4%!important;}
.MarginB5{margin-bottom: 5%!important;}
.MarginB6{margin-bottom: 6%!important;}
.MarginB7{margin-bottom: 7%!important;}
.MarginB8{margin-bottom: 8%!important;}
.MarginB9{margin-bottom: 9%!important;}
.MarginB10{margin-bottom: 10%!important;}
.MarginB11{margin-bottom: 11%!important;}
.MarginB12{margin-bottom: 12%!important;}
.MarginB13{margin-bottom: 13%!important;}
.MarginB14{margin-bottom: 14%!important;}
.MarginB15{margin-bottom: 15%!important;}
.MarginB16{margin-bottom: 16%!important;}
.MarginB17{margin-bottom: 17%!important;}
.MarginB18{margin-bottom: 18%!important;}
.MarginB19{margin-bottom: 19%!important;}
.MarginB20{margin-bottom: 20%!important;}
.MarginB21{margin-bottom: 21%!important;}
.MarginB22{margin-bottom: 22%!important;}
.MarginB23{margin-bottom: 23%!important;}
.MarginB24{margin-bottom: 24%!important;}
.MarginB25{margin-bottom: 25%!important;}



.PaddingT1{padding-top: 1%!important;}
.PaddingT2{padding-top: 2%!important;}
.PaddingT3{padding-top: 3%!important;}
.PaddingT4{padding-top: 4%!important;}
.PaddingT5{padding-top: 5%!important;}
.PaddingT6{padding-top: 6%!important;}
.PaddingT7{padding-top: 7%!important;}
.PaddingT8{padding-top: 8%!important;}
.PaddingT9{padding-top: 9%!important;}
.PaddingT10{padding-top: 10%!important;}
.PaddingT11{padding-top: 11%!important;}
.PaddingT12{padding-top: 12%!important;}
.PaddingT13{padding-top: 13%!important;}
.PaddingT14{padding-top: 14%!important;}
.PaddingT15{padding-top: 15%!important;}
.PaddingT16{padding-top: 16%!important;}
.PaddingT17{padding-top: 17%!important;}
.PaddingT18{padding-top: 18%!important;}
.PaddingT19{padding-top: 19%!important;}
.PaddingT20{padding-top: 20%!important;}
.PaddingT21{padding-top: 21%!important;}
.PaddingT22{padding-top: 22%!important;}
.PaddingT23{padding-top: 23%!important;}
.PaddingT24{padding-top: 24%!important;}
.PaddingT25{padding-top: 25%!important;}

.PaddingB1{padding-bottom: 1%!important;}
.PaddingB2{padding-bottom: 2%!important;}
.PaddingB3{padding-bottom: 3%!important;}
.PaddingB4{padding-bottom: 4%!important;}
.PaddingB5{padding-bottom: 5%!important;}
.PaddingB6{padding-bottom: 6%!important;}
.PaddingB7{padding-bottom: 7%!important;}
.PaddingB8{padding-bottom: 8%!important;}
.PaddingB9{padding-bottom: 9%!important;}
.PaddingB10{padding-bottom: 10%!important;}
.PaddingB11{padding-bottom: 11%!important;}
.PaddingB12{padding-bottom: 12%!important;}
.PaddingB13{padding-bottom: 13%!important;}
.PaddingB14{padding-bottom: 14%!important;}
.PaddingB15{padding-bottom: 15%!important;}
.PaddingB16{padding-bottom: 16%!important;}
.PaddingB17{padding-bottom: 17%!important;}
.PaddingB18{padding-bottom: 18%!important;}
.PaddingB19{padding-bottom: 19%!important;}
.PaddingB20{padding-bottom: 20%!important;}
.PaddingB21{padding-bottom: 21%!important;}
.PaddingB22{padding-bottom: 22%!important;}
.PaddingB23{padding-bottom: 23%!important;}
.PaddingB24{padding-bottom: 24%!important;}
.PaddingB25{padding-bottom: 25%!important;}




.MarginT1p{margin-top: 5px!important;}
.MarginT2p{margin-top: 10px!important;}
.MarginT3p{margin-top: 15px!important;}
.MarginT4p{margin-top: 20px!important;}
.MarginT5p{margin-top: 25px!important;}
.MarginT6p{margin-top: 30px!important;}
.MarginT7p{margin-top: 35px!important;}
.MarginT8p{margin-top: 40px!important;}
.MarginT9p{margin-top: 45px!important;}
.MarginT10p{margin-top: 50px!important;}
.MarginT11p{margin-top: 55px!important;}
.MarginT12p{margin-top: 60px!important;}
.MarginT13p{margin-top: 65px!important;}
.MarginT14p{margin-top: 70px!important;}
.MarginT15p{margin-top: 75px!important;}
.MarginT16p{margin-top: 80px!important;}
.MarginT17p{margin-top: 85px!important;}
.MarginT18p{margin-top: 90px!important;}
.MarginT19p{margin-top: 95px!important;}
.MarginT20p{margin-top: 100px!important;}
.MarginT21p{margin-top: 105px!important;}
.MarginT22p{margin-top: 110px!important;}
.MarginT23p{margin-top: 115px!important;}
.MarginT24p{margin-top: 120px!important;}
.MarginT25p{margin-top: 125px!important;}
.MarginT30p{margin-top: 150px!important;}
.MarginT40p{margin-top: 200px!important;}

.MarginB1p{margin-bottom: 5px!important;}
.MarginB2p{margin-bottom: 10px!important;}
.MarginB3p{margin-bottom: 15px!important;}
.MarginB4p{margin-bottom: 20px!important;}
.MarginB5p{margin-bottom: 25px!important;}
.MarginB6p{margin-bottom: 30px!important;}
.MarginB7p{margin-bottom: 35px!important;}
.MarginB8p{margin-bottom: 40px!important;}
.MarginB9p{margin-bottom: 45px!important;}
.MarginB10p{margin-bottom: 50px!important;}
.MarginB11p{margin-bottom: 55px!important;}
.MarginB12p{margin-bottom: 60px!important;}
.MarginB13p{margin-bottom: 65px!important;}
.MarginB14p{margin-bottom: 70px!important;}
.MarginB15p{margin-bottom: 75px!important;}
.MarginB16p{margin-bottom: 80px!important;}
.MarginB17p{margin-bottom: 85px!important;}
.MarginB18p{margin-bottom: 90px!important;}
.MarginB19p{margin-bottom: 95px!important;}
.MarginB20p{margin-bottom: 100px!important;}
.MarginB21p{margin-bottom: 105px!important;}
.MarginB22p{margin-bottom: 110px!important;}
.MarginB23p{margin-bottom: 115px!important;}
.MarginB24p{margin-bottom: 120px!important;}
.MarginB25p{margin-bottom: 125px!important;}
.MarginB30p{margin-bottom: 150px!important;}
.MarginB40p{margin-bottom: 200px!important;}

.PaddingT1p{padding-top: 5px!important;}
.PaddingT2p{padding-top: 10px!important;}
.PaddingT3p{padding-top: 15px!important;}
.PaddingT4p{padding-top: 20px!important;}
.PaddingT5p{padding-top: 25px!important;}
.PaddingT6p{padding-top: 30px!important;}
.PaddingT7p{padding-top: 35px!important;}
.PaddingT8p{padding-top: 40px!important;}
.PaddingT9p{padding-top: 45px!important;}
.PaddingT10p{padding-top: 50px!important;}
.PaddingT11p{padding-top: 55px!important;}
.PaddingT12p{padding-top: 60px!important;}
.PaddingT13p{padding-top: 65px!important;}
.PaddingT14p{padding-top: 70px!important;}
.PaddingT15p{padding-top: 75px!important;}

.PaddingB1p{padding-bottom: 5px!important;}
.PaddingB2p{padding-bottom: 10px!important;}
.PaddingB3p{padding-bottom: 15px!important;}
.PaddingB4p{padding-bottom: 20px!important;}
.PaddingB5p{padding-bottom: 25px!important;}
.PaddingB6p{padding-bottom: 30px!important;}
.PaddingB7p{padding-bottom: 35px!important;}
.PaddingB8p{padding-bottom: 40px!important;}
.PaddingB9p{padding-bottom: 45px!important;}
.PaddingB10p{padding-bottom: 50px!important;}
.PaddingB11p{padding-bottom: 55px!important;}
.PaddingB12p{padding-bottom: 60px!important;}
.PaddingB13p{padding-bottom: 65px!important;}
.PaddingB14p{padding-bottom: 70px!important;}
.PaddingB15p{padding-bottom: 75px!important;}